
<br>
<section fxLayout="column wrap" fxLayoutGap="60px" fxLayoutAlign="center center">
    <div fxFlex>
    404  Estamos buscando su página...
    </div>
    <div fxFlex>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div fxFlex>
    ... Pero no podemos encontrarlo.
    </div>
   </section>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   