<br>
<br>
<br>

<section fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div fxFlex>
        <p>500 Error del servidor</p>
        <br>
        <br>

        <p>Lamentamos las molestias, por favor informe este error.</p>
    </div>
    <div fxFlex>
        <mat-checkbox (change)="checkChanged($event)" color="primary">
            Quiero informar de este error.</mat-checkbox>
    </div>
    <div fxFlex *ngIf="reportedError">
        <mat-progress-spinner [value]="errorPercentage" mode="determinate">
        </mat-progress-spinner>
        <br>
        <h1>{{errorPercentage}}%</h1>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>