<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        Listado de Articulos
        <span class="fill-remaining-space"></span>
    </mat-toolbar>    
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando">
    <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>    
</div>

<div class="search-div">
    <button mat-raised-button (click)="agregar()">
        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8" style="height: 400px;overflow: auto;">
    <mat-table [dataSource]="items" matSort>

        <ng-container matColumnDef="codigoItem">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.codigoItem}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.descripcion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Precio U</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.precio}}</mat-cell>
        </ng-container>
     
        <ng-container matColumnDef="condicion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Condicion</mat-header-cell>
            <mat-cell *matCellDef="let element" [style.color]="element.condicion?'blue':'red'">
                {{element.condicion ?'Activo':'Inactivo'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Editar | Eliminar</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="editar(element)">
                    <mat-icon class="mat-18">system_update</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="borrar(element)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
            ....loading
            </mat-footer-cell>
        </ng-container>
        
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':items!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'hide':!(items!=null && items.data.length==0)}"></mat-footer-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>