<mat-toolbar>
    <span>Ingreso de Categorias</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button tabIndex="-1" (click)="cancelar()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando">
    <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>

<form [formGroup]="formAgregarCategoria" class="normal-form" autocomplete="off" (ngSubmit)="Agregar()">
    <mat-grid-list cols="1" rowHeight="200px">
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombre">
                    <mat-hint align="end">No más de 60 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('nombre', 'required')">Ingrese el Nombre</mat-error>
                    <mat-error *ngIf="hasError('nombre', 'minlength')">Minimo 5 caracteres</mat-error>
                    <mat-error *ngIf="hasError('nombre', 'maxLength')">maxLength 60 caracteres</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Descripcion" formControlName="descripcion">
                    <mat-hint align="end">No más de 60 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('descripcion', 'required')">Ingrese el Numero</mat-error>
                    <mat-error *ngIf="hasError('descripcion', 'minlength')">Minimo 5 caracteres</mat-error>
                    <mat-error *ngIf="hasError('descripcion', 'maxLength')">maxLength 60 caracteres</mat-error>
                </mat-form-field>

                <mat-checkbox formControlName="condicion" (change)="checkChanged($event)">Activo
                </mat-checkbox>
                <br>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="!formAgregarCategoria.valid">Submit</button>
                    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </mat-grid-tile>
        <br>
        <!-- <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input matInput placeholder="Direccion" type="text" formControlName="direccion">
                    <mat-hint align="end">No más de 80 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('direccion', 'required')">Ingrese Direccion</mat-error>
                    <mat-error *ngIf="hasError('direccion', 'minlength')">Minimo 15 caracteres</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="telefono" formControlName="telefono">
                    <mat-hint align="end">No más de 9 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('telefono', 'required')">Ingrese el Telefono</mat-error>
                    <mat-error *ngIf="hasError('telefono', 'minlength')">Minimo 6 caracteres</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="email" formControlName="email">
                    <mat-hint align="end">No más de 60 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('nombre', 'required')">Ingrese email</mat-error>
                    <mat-error *ngIf="hasError('nombre', 'minlength')">Minimo 5 caracteres</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Ingrese un email correcto.</mat-error>
                </mat-form-field>


                <mat-checkbox formControlName="condicion" (change)="checkChanged($event)">Activo
                </mat-checkbox>


                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="!formAgregarCategoria.valid">Submit</button>
                    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </mat-grid-tile> -->

    </mat-grid-list>
</form>