<!-- <div class="mat-elevation-z8 basic-container"> -->
<mat-toolbar>
    <span>Ediciòn de Personas</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button tabIndex="-1" (click)="cancelar()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="cargando">
    <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>

<form [formGroup]="formEditarPersona" class="normal-form" autocomplete="off">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-select formControlName="tipo" placeholder="Tipo">
                        <mat-option>None</mat-option>
                        <ng-container>
                            <mat-option *ngFor="let tipo of tipoPersonas" value="{{tipo.tipoPersona}}">
                                {{tipo.descripcion}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Nombre" formControlName="nombres">
                    <mat-hint align="end">No más de 60 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('nombres', 'required')">Ingrese el Nombre</mat-error>
                    <mat-error *ngIf="hasError('nombres', 'minlength')">Minimo 5 caracteres</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput placeholder="Apellidos" formControlName="apellidos">
                    <mat-hint align="end">No más de 60 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('apellidos', 'required')">Ingrese el Apellidos</mat-error>
                    <mat-error *ngIf="hasError('apellidos', 'minlength')">Minimo 5 caracteres</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select formControlName="documento" placeholder="Documento">
                        <mat-option>None</mat-option>
                        <ng-container>
                            <mat-option *ngFor="let documento of tipoDocumentos" value="{{documento.tipoDocumento}}">
                                {{documento.descripcion}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Numero" formControlName="numero">
                    <mat-hint align="end">No más de 8 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('numero', 'required')">Ingrese el Numero</mat-error>
                    <mat-error *ngIf="hasError('numero', 'minlength')">Minimo 8 caracteres</mat-error>
                    <mat-error *ngIf="hasError('numero', 'maxLength')">maxLength 8 caracteres</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <br>
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input matInput placeholder="Direccion" type="text" formControlName="direccion">
                    <mat-hint align="end">No más de 80 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('direccion', 'required')">Ingrese Direccion</mat-error>
                    <mat-error *ngIf="hasError('direccion', 'minlength')">Minimo 15 caracteres</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="telefono" formControlName="telefono">
                    <mat-hint align="end">No más de 9 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('telefono', 'required')">Ingrese el Telefono</mat-error>
                    <mat-error *ngIf="hasError('telefono', 'minlength')">Minimo 6 caracteres</mat-error>
                </mat-form-field>

                <!-- <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Seleccione Fecha"
                            formControlName="dateOfBirth" id="dateOfBirth" readonly (click)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field> -->


                <mat-form-field>
                    <input matInput placeholder="email" formControlName="email">
                    <mat-hint align="end">No más de 60 caracteres.</mat-hint>
                    <mat-error *ngIf="hasError('email', 'required')">Ingrese email</mat-error>
                    <mat-error *ngIf="hasError('email', 'minlength')">Minimo 5 caracteres</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Ingrese un email correcto.</mat-error>
                </mat-form-field>

                <mat-checkbox formControlName="condicion" (change)="checkChanged($event)">Activo
                </mat-checkbox>

                <div class="button-row">
                    <button mat-raised-button color="primary" type="button" (click)="EditarArticulo()"
                    [disabled]="!formEditarPersona.valid">Submit</button>
                    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</form>
<!-- </div> -->