@import "~@angular/material/prebuilt-themes/indigo-pink.css";



div.container {
  margin: 0px 40px;
}
.mat-row:hover {
  background-color: #F8F9F9 ;
  cursor: pointer
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}



form.normal-form {
  margin: 10px;  
  //height: 280px;
}

.controles-container {
  width: 100%;
  padding: 5%;

  > * {
    width: 100%;
  }
}

.add-bottom-padding {
  padding-bottom: 10px;
}

/* radio group */

mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-row button {
  margin: 5px;
}

/* notification */

snack-bar-container {
  &.success {
    background-color: #5cb85c;
    color: #fff;
  }

  &.warn {
    background-color: #f99157;
    color: #fff;
  }

  &.notification simple-snack-bar {
    font-size: 18px !important;
    font-weight: bold;
  }
}

.hide {
  display: none;
}

/* mat-table */

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

/* filter controls */

.search-div {
  margin: 10px;
}

.search-form-field {
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #D1F2EB;
  border-radius: 5px;

  div {
    &.mat-form-field-underline {
      display: none;
    }

    &.mat-form-field-infix {
      border-top: 0px;
    }

    &.mat-form-field-wrapper {
      padding-bottom: 0px;
    }

    &.mat-form-field-suffix button {
      height: 32px;
      width: 32px;
    }
  }
}

/* for dialog pop-up */

.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */

.confirm-dialog-container {
  .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
  }

  .content-container {
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
  }

  #close-icon {
    margin-left: auto;
    order: 2;
    font-weight: bolder;

    &:hover {
      cursor: pointer;
    }
  }

  #no-button {
    height: 50px;
    width: 50%;
    background-color: #fc7169;
    color: white;
    border-radius: 0px;
  }

  #yes-button {
    height: 50px;
    width: 50%;
    background-color: #b6bece;
    color: white;
    border-radius: 0px;
  }

  span.content-span {
    padding: 35px 16px;
    text-align: center;
    font-size: 20px;
  }
}

  // VentaCSS
  .customWidthClass{
    flex: 0 0 300px;
  }
